<main>
  <h1>About us</h1>
  <div class="about">
    <p>
      <i>"Hardware-shop.bg"</i> deals with the online sale of the most renowned brands of hardware, here you can make the most convenient choice of laptop according to your needs without having to leave your home.
       You could easily choose your laptop by price category or compare different models so that you can make your choice without the intervention of a sales consultant.
       <br> Here is the place you can learn JavaScript 
       <a href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
      <a href="https://softuni.bg/">Software University</a>.
    </p>
  </div>
</main>