<main>
  <h1>{{videoCard.model}}</h1>
  <img class="cube"
    src={{videoCard.imageUrl}}>
  <div class="details">
    <p><span>Memory:</span> {{videoCard.memory}}</p>
    <p><span>Price:</span> {{videoCard.price}} </p>
    <a class="btn" href="/">Back</a>
  </div>
</main>